MONGO_URI = ""
JWT_SECRET= ""
EMAIL_USER=""
EMAIL_PASS=""
JWT_EXPIRES_IN =""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
FRONTEND_URL =""
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
API_KEY=""